/*  your css code here. If applicable */
.main{
	
	background-color:#f5f5f5;
	padding:5px;
}
.main2{
	display:flex;
	gap:20px;
	padding-top:5px;
}

.latest-news-section{
	height:100%;
	background-color:white;
	padding:15px;
	border-radius:20px;
}
.article{
	height:100%;
	background-color:white;
	padding:15px;
	border-radius:20px;
}
.pictorial-news-section{
	height:100%;
	background-color:white;
	padding:15px;
	border-radius:20px;
	
}